---
layout: default
permalink: /
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}" title="Lire '{{ post.title }}'" data-ga-category="links" data-ga-event="click" data-ga-label="{{ post.title }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">
      {% if post.last-modified %}
        Dernière mise à jour : {% include fr_date.html date=post.last-modified %}
      {% else %}
        {% include fr_date.html date=post.date %}
      {% endif %}
    </span>
    {% assign reading_time = post.content | number_of_words | divided_by:180 %}
    <span class="post-read-time" title="Temps de lecture estimé à {{ reading_time }} minutes">&middot;  <svg width="16" height="16" class="icon icon-clock"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use></svg>
      {% if reading_time < 2 %}
        1 minute
      {% else %}
        {{ reading_time }} minutes
      {% endif %}
    </span>
  </div>
  <hr />
{% endfor %}
</div>

<p class="copy"></p>
