<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

	<!-- Profiles -->
	<link type="text/plain" rel="author" href="/humans.txt" />
	<link rel="meta" type="application/rdf+xml" title="FOAF" href="{{ site.baseurl }}/foaf.rdf" />

  <!-- Icons
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-precomposed.png"> -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
	{% feed_meta %}

  {% include analytics.html %}
</head>
