<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- CSS -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.github.build_revision }}">

  {% feed_meta %}

  <!-- Icons -->
  {% include favicons.html %}

  <!-- Profiles -->
  <link type="text/plain" rel="author" href="/humans.txt" />
  <link rel="meta" type="application/rdf+xml" title="FOAF" href="{{ "/foaf.rdf" | relative_url }}" />

  <!-- Analytics-->
  {% if site.analytics.google.site_verification %}
    <meta name="google-site-verification" content="{{ site.analytics.google.site_verification }}">
  {% endif %}

  {% include analytics.html %}
</head>
