{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Billets plus récents</a>
      {% else %}
        <span class="pagination-item newer">Billets plus récents</span>
    {% endif %}
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Billets plus anciens</a>
    {% endif %}
</div>
{% endif %}
