<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if (!checkbox.checked ||
        sidebar.contains(target) ||
        (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>

<script async src="{{ "assets/js/instantclick.min.js " | relative_url }}" data-no-instant>
</script>


<script>
  window.onload = function() {
    setTimeout(function() {
      window.performance = window.performance || window.mozPerformance || window.msPerformance || window.webkitPerformance || {};
      var t = performance.timing || {};

      if (!t) {
        //fail silently
        return;
      }
      var start = t.navigationStart,
        end = t.loadEventEnd
      loadTime = (end - start) / 1000;

      var copy = document.getElementsByClassName('copy');
      copy[0].innerHTML += "<span class='loaded'>Page chargée en <strong>" + loadTime + " secondes</strong>.</span>";
    }, 0);
  };
</script>
