<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">Accueil</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}" data-ga-category="sidebar" data-ga-event="click" data-ga-label="{{ node.title }}"@x>{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <ul class="social inline">
      {% assign socials = site.data.social %}
      {%- for social in socials %}
      <li>
        <a rel="me" class="u-url" title="{{ social.title }}" href="{{ social.url }}" data-ga-category="sidebar" data-ga-event="click" data-ga-label="{{ social.name }}">
          <svg width="16" height="20" class="icon icon-{{ social.name }}">
            <use xlink:href="#icon-{{ social.name }}"></use>
          </svg>
        </a>
      </li>
      {% endfor -%}
    </ul>

  </div>
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}
    </p>
  </div>
</div>
