/* woff2: Chrome 26+, Opera 23+, Firefox 39+ */
/* woff: Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v9-latin-regular.woff2') format('woff2'), url('../fonts/pt-sans-v9-latin-regular.woff') format('woff');
}

/* pt-sans-italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('../fonts/pt-sans-v9-latin-italic.woff2') format('woff2'), url('../fonts/pt-sans-v9-latin-italic.woff') format('woff');
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v9-latin-700.woff2') format('woff2'), url('../fonts/pt-sans-v9-latin-700.woff') format('woff');
}
