@import "bourbon/bourbon";
@import "neat/neat";

@font-face {
    font-family: 'RalewayThin';
    src: url('../fonts/raleway_thin-webfont.eot');
    src: url('../fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-serif: Palatino, Georgia, "Times New Roman", Times, serif;
$font-size-large: 1.2em;
$gray: #ccc;
$gray-lighter:#eee;
$grid-gutter-width:2em;
$line-height-base: 1.4;
$screen-md:768px;

body {
	background: #777;
  font-family: $font-family-serif;
  font-size: $font-size-large;
}

header {
	text-align: right;
	padding-right: 1em;
	h1, p {
		margin-bottom: 0;
	}
	p {
		font: italic 1em Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	}
}

#main {
  @include outer-container;
	background-color: #fff;
	-moz-box-shadow: inset 0 0 5px $gray;
	-webkit-box-shadow: inset 0 0 5px $gray;
	box-shadow: inner 0 0 5px $gray;

}

#content {
  @include span-columns(8);
	padding: 0 $grid-gutter-width;
	border-right: 1px solid $gray-lighter;
}

aside {
  @include span-columns(4);
	padding: 0 0 0 $grid-gutter-width;
}

a:link, a:visited, a:hover  {
	color: #ff3d97;
}

abbr, acronym {
	cursor: help;
	border-bottom: 1px dotted;
}

a abbr, a img {
	border: none;
}

button a:link, button a:visited {
color: #fff;
text-decoration: none;
}

blockquote {
	font-style: italic;
	background-color: #f6f2ec;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em;
}

blockquote p:before {
	content: open-quote;
}

blockquote p:after {
	content: close-quote;
}


h1, h2, h3 {
	font-family: RalewayThin, "Lucida Grande", "Helvetica Neue", Helvectica, Arial, sans-serif;
	text-shadow: 1px 1px 1px $gray-lighter;
	line-height: 1;
}

h1 {
	color: #ff3d97;
}

h2 {
	color: rgb(37, 164, 241);
}

h3 {
	color: rgba(37, 164, 241, 0.8);
}

footer {
  @include outer-container;
	padding: 2*$line-height-base $grid-gutter-width;
	color: #aaa;
	text-align: center;
}

header a, footer a {
	color: #cc9cb3;
	text-decoration: none;
}

.avatar {
  margin: 0 1em;
}

.rotate {
	-webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.rotate:hover {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.shadow {
	-moz-box-shadow:2px 2px 2px #ccc;
	-webkit-box-shadow:2px 2px 2px #ccc;
	box-shadow:2px 2px 2px #ccc;
}

::-moz-selection{ background: #F14A29; color:#fff; text-shadow: none; }
::selection { background:#F14A29; color:#fff; text-shadow: none; }


@media (min-width: $screen-md) {
  #about {
    padding-bottom: 2*$line-height-base;
  }
}
