@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@include font-face("RalewayThin", "../fonts/raleway_thin-webfont", normal);

$font-family-serif: Palatino, $georgia;
$gray: #ccc;
$gray-lighter:#eee;
$grid-gutter-width:2em;
$line-height-base: 1.4;
$screen-md:768px;
$modular-scale-base: 1.2em;

body {
	background: yellowgreen;
  font-family: $font-family-serif;
  font-size: $modular-scale-base;
}

header {
  text-align: center;
	padding: 1em 0;
	h1, p {

		margin-bottom: 0;
	}
	p {
		font: italic $modular-scale-base Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	}
}

section {
  @include outer-container;
  aside {
    @include span-columns(3);
    @include margin(12em 0);
    padding: 0 0 0 1em;
  }
  article {
    @include span-columns(7);
    @include shift(2);
    border-right: 1px solid $gray-lighter;
  }
}

.container {
	background-color: #fff;
	box-shadow: inner 0 0 5px $gray;
}

a:link, a:visited, a:hover  {
	color: #ff3d97;
}

abbr, acronym {
	cursor: help;
	border-bottom: 1px dotted;
}

a abbr, a img {
	border: none;
}

button a:link, button a:visited {
color: #fff;
text-decoration: none;
}

blockquote {
	font-style: italic;
	background-color: #f6f2ec;
	border-radius: .5em;
}

blockquote p:before {
	content: open-quote;
}

blockquote p:after {
	content: close-quote;
}

h1, h2, h3 {
	font-family: RalewayThin, "Lucida Grande", "Helvetica Neue", Helvectica, Arial, sans-serif;
	text-shadow: 1px 1px 1px $gray-lighter;
	line-height: 1;
}

h1 {
	color: #ff3d97;
}

h2 {
	color: rgb(37, 164, 241);
}

h3 {
	color: rgba(37, 164, 241, 0.8);
}

footer {
  @include outer-container;
	padding: 2*$line-height-base $grid-gutter-width;
	color: #aaa;
	text-align: center;
}

header a, footer a {
	color: #cc9cb3;
	text-decoration: none;
}

.avatar {
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.shadow {
	box-shadow:2px 2px 2px #ccc;
}

::selection { background:#F14A29; color:#fff; text-shadow: none; }

@media (min-width: $screen-md) {
  #about {
    padding-bottom: 2*$line-height-base;
  }
}
