body {
  background: #000;
  background-size: 100%;
  color: #fff;
  font-family: 'Helvetica';
  font-weight: bold;
  letter-spacing: -5px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

em,
a {
  color: #8dbd0c;
  font-style: normal;
}

a {
  background: #34d0e7;
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}

body > div {
  cursor: hand;
  cursor: pointer;
  left: 0;
  line-height: 100%;
  padding: 75px;
  position: absolute;
  top: 0;
}

div.center {
  text-align: center;
}

div.imageText {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

notes {
  display: none;
}

/* normally not good, but ok in context of full screen directional navigation */
:focus {
  outline: 0;
}

.small {
  bottom: 0;
  letter-spacing: normal;
  opacity: 0.25;
  padding: 1rem;
  position: absolute;
  right: 0;
}
