---
---

@import "fonts";
@import "poole";
@import "syntax";
@import "lanyon";

.post a:hover {
  text-decoration: none;
  border-bottom: 0.1rem solid #268bd2;
}

.post-read-time {
  display: inline-block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Icons */
.icon {
  max-width: 2rem;
  height: 1rem;
  fill: currentColor;
  display: inline-block;
}

/* Reading time icon */
.icon-clock {
  margin: -0.15em 0;
}

/* Social icons */
.social {
  li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.copy {
  padding-top: 2rem;
  text-align: center;
  font-size: 75%;
  font-style: italic;
  color: #999;
}

.emoji {
  display: inline;
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Contact Form */

.hidden {
  display: none;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid rgba(0,0,0,.15)
}

.form-control,
.btn {
  padding: .5rem .75rem;
  font-size: 1rem;
  border-radius:0.25rem;
}

.btn {
  color: #fff;
  background-color: #268bd2;
  border: 1px solid transparent;
  border-color: #268bd2;

  &:hover {
    background-color: darken(#268bd2, 5%);
  }
}
