<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- seo -%}

  <!-- CSS -->
  <link rel="preload" href="/assets/fonts/pt-serif-v9-latin-regular-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/pt-sans-v9-latin-regular-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}" as="style">
  <link rel="stylesheet" media="(min-width: 120px)" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ "feed.json" | absolute_url }}" />
  {% feed_meta %}

  <!-- Icons -->
  {%- include_cached favicons.html -%}

  <!-- Profiles -->
  <link rel="pingback" href="https://webmention.io/frank.taillandier.me/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/frank.taillandier.me/webmention" />
  <link rel="pgpkey" href="/key.pub">
  <link type="text/plain" rel="author" href="/humans.txt" />
  <link rel="meta" type="application/rdf+xml" title="FOAF" href="{{ "/foaf.rdf" | relative_url }}" />

  {% if jekyll.environment == "production" %}
    <!-- Analytics-->
    {% if site.analytics.google.site_verification %}
      <meta name="google-site-verification" content="{{ site.analytics.google.site_verification }}">
      {% endif %}

    {% include_cached analytics.html %}
    <script async defer src="{{ "assets/js/turbolinks.js " | relative_url }}"></script>
  {% endif %}
</head>

<body>

  {% include_cached sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <a href="#content" class="skip-link">Aller au contenu</a>
        {% if page.url == "/" %}
          <h1 class="masthead-title">
            <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.description }}</small>
          </h1>
        {% else %}
          <h3 class="masthead-title">
            <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.description }}</small>
          </h3>
        {% endif %}
      </div>
    </div>

    <main id="content" class="container content">
      {{ content | microtypo: 'fr_FR' }}
    </main>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  {% include_cached symbols.svg %}

  <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if (!checkbox.checked ||
          sidebar.contains(target) ||
          (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>

  </body>
</html>
