<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body>

  {% include_cached sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <a href="#content" class="skip-link">Aller au contenu</a>
        {% if page.url == "/" %}
          <h1 class="masthead-title">
            <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.description }}</small>
          </h1>
        {% else %}
          <h3 class="masthead-title">
            <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.description }}</small>
          </h3>
        {% endif %}
      </div>
    </div>

    <main id="content" class="container content">
      {{ content }}
    </main>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  {% include_cached symbols.svg %}
  {% include_cached scripts.html %}
  </body>
</html>
