<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body>

  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
            <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.description }}</small>
          </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if (!checkbox.checked ||
          sidebar.contains(target) ||
          (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>
  {% include symbols.svg %}
  </script>
  <script src="{{ "assets/js/instantclick.min.js " | relative_url }}" data-no-instant>
  </script>
  <script>
    window.onload = function() {
      setTimeout(function() {
        window.performance = window.performance || window.mozPerformance || window.msPerformance || window.webkitPerformance || {};
        var t = performance.timing || {};

        if (!t) {
          //fail silently
          return;
        }
        var start = t.navigationStart,
          end = t.loadEventEnd
        loadTime = (end - start) / 1000;

        var copy = document.getElementsByClassName('copy');
        copy[0].innerHTML += "<span class='loaded'>Page chargée en <strong>" + loadTime + " secondes</strong>.</span>";
      }, 0);
    };
  </script>
</body>

</html>
<!-- Proudly Powered by GitHub | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->
