---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span> &middot; {% include read_time.html %}

  {{ content }}

  <footer>
    <p>Ce contenu est ouvert, vous pouvez <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}">aider à améliorer cet article</a>.</p>
  </footer>

</div>

{% comment %}
<div class="related">
  <h2>Articles relatifs</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}
